{% extends "base.html" %}

{% block nav  %}
{% load static %}
<link rel = "stylesheet" type = "text/css" href = '{% static "movierental/customer.css" %}'>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Address</th>
    <th>Age</th>
    <th>Option</th>
  </tr>

  {% for customer in customers %}
  <tr>
  <td>{{ customer.name}}</td>
  <td>{{ customer.phone }}</td>
  <td>{{ customer.address }}</td>
  <td>{{ customer.age }}</td>
  <td><a href = '{% url "removee" customer.id %}'> Delete </a></td>


  {% endfor %}


{% endblock %}
